%tr
  %td
    .votable-item-area
      = render partial: 'shared/votable_item', locals: { votable_item: post }
      = render partial: 'posts/favorite_post', locals: { favorite_post: post }
      = render partial: 'posts/inappropriate_post', locals: { inappropriate_post: post }

    %td
      %div{ class: post.link? ? "post-type-link" : "post-type-text" }
        .pull-right{ style: "margin-top: -30px;" }
          = render partial: 'shared/votable_item_counts',
            locals: { votable_item: post }
        %table{ style: "width: 100%;" }
          %tr
            %td
              .post-title
                - if post.link?
                  = link_to post.title, post.content
                - else
                  = link_to post.title, spoke_post_path(post.spoke.id, post)
                %br

            %tr
              %td
                %blockquote.pull-right
                  %p
                    = truncate(post.content, length: 140)

                  %small
                    - if post.user.first_name
                      = "#{post.user.name},"
                    - else
                      = "#{post.user.email},"
                    = post.updated_at
                    in spoke

                    %script
                      $(function () {
                      $("#spoke-link-#{post.id}").popover();
                      });

                    = link_to(post.spoke.name, post.spoke,
                      class: 'label', rel: 'popover', id: "spoke-link-#{post.id}",
                      'data-content' => "Description: #{post.spoke.description}",
                      'data-original-title' => "Spoke: #{post.spoke.name}")

            %tr
              %td
                .pull-right
                  = link_to 'read &raquo;'.html_safe, spoke_post_path(post.spoke.id, post)

