.modal.hide.fade#linkModal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myModalLabel',
  'aria-hidden' => true, style: 'display: none;' }

  = form_for([spoke, post]) do |f|
    .modal-header
      %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true } x
      %h3 Add your link

    .modal-body
      - if post.errors.any?
        #error_explanation
          %h2
            = pluralize(post.errors.count, 'error')
            prohibited this post from being saved:

          %ul
            - post.errors.full_messages.each do |msg|
              %li= msg

      = f.text_field :title, placeholder: 'Post title', class: 'span4'
      = f.text_field :content, class: 'span4', placeholder: 'http://'

    .modal-footer
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => 'true' } Cancel
      = f.submit 'Post', class: 'btn btn-primary'
