%tr
  %td
    .votable-item-area
      = render partial: 'shared/votable_item', locals: { votable_item: post }

    %td
      .well
        %table{ style: "width: 100%;" }
          %tr
            %td
              .post-title
                = link_to post.title, spoke_post_path(post.spoke.id, post)
              %br

          %tr
            %td
              %blockquote
                %p
                  = truncate(post.content, length: 140)
                %small
                  = "#{post.user.name},"
                  = post.updated_at
                  in spoke

                  %script
                    $(function () {
                    $("#spoke-link-#{post.id}").popover();
                    });

                  = link_to(post.spoke.name, post.spoke,
                    class: 'label', rel: 'popover', id: "spoke-link-#{post.id}",
                    'data-content' => "Description: #{post.spoke.description}",
                    'data-original-title' => "Spoke: #{post.spoke.name}")

