%h1 Listing spokes

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @spokes.each do |spoke|
      %tr
        %td= spoke.name
        %td= link_to 'Show', spoke
        %td= link_to 'Edit', edit_spoke_path(spoke)
        %td= link_to 'Destroy', spoke, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Spoke', new_spoke_path
