- page_title "MindHub Spoke: #{@spoke.name}"
= content_for(:page_heading) do
  .page-header
    %small The
    %h1
      = @spoke.name
    %small Spoke

.well
  - if user_signed_in?
    .row
      .offset1
        %script
          $(function () {
          $(".collapse").collapse();
          });

        %a.btn.btn-large.btn-new-post.span2{ href: '#postModal',
          style: 'color: white; ', 'data-toggle' => 'modal',
          'role' => 'button' } Create Post

        = render 'posts/create_text', spoke: @spoke, post: Post.new

        %a.btn.btn-large.btn-new-post.span2{ href: '#linkModal',
          style: 'color: white; ', 'data-toggle' => 'modal',
          'role' => 'button' } Add Link

        = render 'posts/create_link', spoke: @spoke, post: Post.new

  - else
    .row
      .offset1
        %script
          $(function () {
          $("#disabled-post-button").popover();
          $("#disabled-link-button").popover();
          });

        %a.btn.btn-large.btn-new-post.disabled.span2#disabled-post-button{ href: '#',
          style: 'color: white; ', rel: 'popover',
          'data-content' => 'Login to start posting in this spoke.',
          'data-original-title' => 'Log in!' } Create Post

        %a.btn.btn-large.btn-new-post.disabled.span2#disabled-link-button{ href: '#',
          style: 'color: white; ', rel: 'popover',
          'data-content' => 'Login to start posting in this spoke.',
          'data-original-title' => 'Log in!' } Add Link

%ul.nav.nav-tabs
  = render 'spokes/sort_options', spoke_id: @spoke.id, sorter: @sorter

%table.table.table-condensed
  %tbody
    = render @posts

= render 'shared/pager', items: @posts

= content_for(:right_sidebar) do
  = render 'shared/spoke_list'
  = render 'spoke_info', spoke: @spoke
