%p#notice= notice

%p
  %b Name:
  = @spoke.name
%p
  %b Description:
  = @spoke.description

- @spoke.posts.each do |post|
  %p Title
  %p= link_to post.title, spoke_post_path(@spoke, post)
  %br/

= link_to 'Back', spokes_path
