- page_title "MindHub Spoke: #{@spoke.name}"
= content_for(:page_heading) do
  .page-header
    %small The
    %h1
      = @spoke.name
    %small Spoke

.well
  - if user_signed_in?
    .row
      .offset1
        %script
          $(function () {
          $(".collapse").collapse();
          });

        %a.btn.btn-large.btn-new-post.span2{ href: '#postModal',
          style: 'color: white; ', 'data-toggle' => 'modal',
          'role' => 'button' } Create Post

        = render 'post_text_modal', spoke: @spoke, post: Post.new

        %a.btn.btn-large.btn-new-post.span2{ href: '#linkModal',
          style: 'color: white; ', 'data-toggle' => 'modal',
          'role' => 'button' } Add Link

        = render 'post_link_modal', spoke: @spoke, post: Post.new

  - else
    .row
      .offset1
        %script
          $(function () {
          $("#disabled-post-button").popover();
          });

        %a.btn.btn-large.btn-new-post.disabled.span4#disabled-post-button{ href: '#',
          style: 'color: white; ', rel: 'popover',
          'data-content' => 'Login to start posting in this spoke.',
          'data-original-title' => 'Log in!' } Create Post

%ul.nav.nav-tabs
  = render partial: 'spokes/sort_options', locals: { sorter: @sorter }

%table.table.table-condensed
  %tbody
    = render partial: 'post', collection: @spoke.posts.send(@sorter)

= render 'shared/pager', items: @posts

= content_for(:right_sidebar) do
  = render 'shared/spoke_list'
  = render partial: 'spoke_info', locals: { spoke: @spoke }
