%p#notice= notice

.page-header
  %small The
  %h1
    = @spoke.name
  %small Spoke

.row
  .span8
    %table.table.table-condensed
      %caption
        %h3 Recent Posts
      %tbody
        = render partial: 'post', collection: @spoke.posts

    %h2 Add a post:
    = form_for([@spoke, @spoke.posts.build]) do |f|
      .field
        = f.label :name
        %br
        = f.text_field :name
      .field
        = f.label :title
        %br
        = f.text_field :title
      .field
        = f.label :content
        %br
        = f.text_area :content
      .actions
        = f.submit
  .span3
    .well
      %h2= @spoke.name

      %p= @spoke.description

      = link_to 'Edit', edit_spoke_path(@spoke)
