%p#notice= notice

.page-header
  %small The
  %h1
    = @spoke.name
  %small Spoke

.row
  .span8
    .well
      - if user_signed_in?
        .row
          .offset1
            %script
              $(function () {
              $(".collapse").collapse()
              });
            %a.btn.btn-large.btn-new-post.span4{ href: '#',
              style: "color: white; ", "data-toggle" => "collapse",
              "data-target" => '#create-post' } Create Post
        .row
          .collapse.in#create-post
            %h2 Add a post:
            - @post = Post.new
            = form_for([@spoke, @post], html: { class: 'form-horizontal' }) do |f|
              - if @post.errors.any?
                #error_explanation
                  %h2
                    = pluralize(@post.errors.count, "error")
                    prohibited this post from being saved:

                  %ul
                    - @post.errors.full_messages.each do |msg|
                      %li= msg
              %fieldset
                .control-group
                  %label.control-label= f.label :title
                  .controls
                    = f.text_field :title
                .control-group
                  %label.control-label= f.label :content
                  .controls
                    = f.text_area :content, class: 'span5'
                .form-actions
                  = f.submit 'Post', class: 'btn btn-primary'
      - else
        .row
          .offset1
            %script
              $(function () {
              $("#disabled-post-button").popover();
              });
            %a.btn.btn-large.btn-new-post.disabled.span4#disabled-post-button{ href: '#',
              style: "color: white; ", rel: 'popover',
              'data-content' => "Login to start posting in this spoke.",
              'data-original-title' => 'Log in!' } Create Post

    %table.table.table-condensed
      %caption
        %h3 Recent Posts
      %tbody
        = render partial: 'post', collection: @spoke.posts

  .span4
    .well
      %h2= @spoke.name

      %p= @spoke.description

      = link_to 'Edit', edit_spoke_path(@spoke), class: 'btn btn-mini btn-warning'
