%tr{ id: "comment-#{comment.id}" }
  %td
    = render partial: 'shared/votable_item', locals: { votable_item: comment }
    = render partial: 'comments/inappropriate_comment', locals: { inappropriate_comment: comment }
    - if user_signed_in? && current_user.admin?
      = render 'comments/disable_comment', disable_comment: comment

  %td.comment
    .pull-right
      = link_to spoke_post_url(comment.post.spoke_id, comment.post.id,
        anchor: "comment-#{comment.id}") do
        %i.icon-magnet
    %p
      added
      = time_tag comment.created_at
      by
      %b= comment.user.name

      - if comment.user == current_user
        = link_to 'Edit',
          edit_spoke_post_comment_path(comment.post.spoke_id, comment.post.id, comment),
          class: 'btn btn-mini btn-warning'

      - if user_signed_in? && !comment.deleted?
        %a.btn.btn-mini{ href: '#', 'data-target' => "#comment-reply-#{comment.id}",
          title: 'Reply to response', 'data-toggle' => 'collapse' }
          reply
        .collapse{ id: "comment-reply-#{comment.id}" }
          = render 'comments/new', parent_type: 'comment', parent_id: comment.id,
            post: comment.post, comment: comment

      - else
        %a.btn.btn-mini.disabled{ href: '#', title: 'Reply to response' }
          reply

    - if comment.deleted?
      - if user_signed_in? && current_user == comment.user || current_user.admin?
        %strong
          .label.label-important= disabled_item_message_for_owner('comment')
        %p= Sanitize.clean(comment.body, Sanitize::Config::BASIC)

      - else
        %p
          %strong
            .label.label-warning= disabled_item_message('comment')

    - else
      %p= Sanitize.clean(comment.body, Sanitize::Config::BASIC)

    - if comment.has_children?
      %table.table.table-condensed.table-striped
        %tbody
          = render partial: 'comments/comment', collection: comment.children
