%tr
  %td
    = render partial: 'shared/votable_item', locals: { votable_item: @comment }

  %td.comment
    %p
      added
      = comment.created_at
      by
      %b= comment.user.email
      %a.btn.btn-mini{ href: "#", "data-target" => "#comment-#{comment.id}",
        title: "Reply to comment", "data-toggle" => "collapse" }
        reply
      .collapse{ id: "comment-#{comment.id}" }
        = render 'comments/new', parent_type: 'comment', parent_id: comment.id

    %p= sanitize(comment.body)

    - if comment.has_children?
      %table.table.table-condensed.table-striped
        %tbody
          = render partial: 'comments/comment', collection: comment.children
