= form_tag(spoke_post_comment_path(disable_comment.post.spoke_id, disable_comment.post.id, disable_comment.id),
  class: 'form-horizontal', method: :delete, remote: true) do
  = hidden_field_tag "disable", !disable_comment.deleted?

  - if disable_comment.deleted?
    = button_tag type: 'submit',
      class: 'btn btn-mini btn-danger',
      id: "disable-comment-#{disable_comment.id}",
      title: 'This response has been disabled.' do
      %i.icon-remove-sign.pull-left

  - else
    = button_tag type: 'submit',
      class: 'btn btn-mini',
      id: "disable-comment-#{disable_comment.id}",
      title: 'This response is enabled.' do
      %i.icon-remove-sign.pull-left

