= form_for([post.spoke, post, comment], html: { class: 'well' }) do |f|
  - if comment.errors.any?
    #error_explanation
      %h2
        = pluralize(comment.errors.count, 'error')
        prohibited this comment from being saved:

      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      .controls
        = f.text_area :body, class: 'comment'

    = hidden_field_tag 'parent_type', parent_type

    = hidden_field_tag 'parent_id', parent_id

    - if user_signed_in?
      = f.submit 'Respond', class: 'btn btn-primary'
    - else
      %script
        $(function () {
        $("#post-save-button").popover();
        });
      %button.btn.btn-primary.disabled#post-save-button{ rel: 'popover',
        'data-content' => 'Login to post!', 'data-original-title' => 'Login' } Response
