%table.table.table-condensed.table-striped
  %thead
    %caption
      %h3 Users
    %tr
      %th Email
      %th First
      %th Last
      %th Admin?
  %tbody
    - @users.each do |u|
      %tr
        %td= u.email
        %td= u.first_name
        %td= u.last_name
        %td
          - if u.email == "admin@mindhub.org"
            = check_box_tag 'is_admin', !u.admin?, u.admin?, id: u.id,
              disabled: true

          - else
            = form_tag(user_path(u), method: :put, remote: true) do
              = check_box_tag 'is_admin', !u.admin?, u.admin?, id: u.id,
                class: "confirm-selection checkable"
