%table.table.table-condensed.table-striped
  %thead
    %caption
      %h3 Users

    %tr
      %th Email
      %th First
      %th Last
      %th Admin?
      %th Banned?

  %tbody
    - @users.each do |u|
      %tr
        %td= link_to u.email, admin_user_path(u.id)
        %td= u.first_name
        %td= u.last_name
        %td
          = render partial: 'admin/admin_checkbox', locals: { user: u }
        %td
          = render partial: 'admin/banned_checkbox', locals: { user: u }

