.row
  %ul.nav.nav-pills
    = page_entries_info items

  %ul.nav.nav-pills.pull-right{ role: 'navigation' }
    %li.dropdown

      %a.dropdown-toggle#limit{ role: 'button', 'data-toggle' => 'dropdown', href: '#'}
        = "Limit: #{params[:limit] || 25}"
        %b.caret

      %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'limit' }
        - [25, 50, 100, 250].each do |limit|
          %li{ role: 'presentation' }
            = link_to limit, url_for(controller: controller_name, action: action_name, limit: limit)

  = paginate items

