- if current_user
  = form_tag(votes_upvote_path, class: "form-horizontal") do
    = hidden_field_tag :item_id, votable_item.id
    = hidden_field_tag :item_type, votable_item.class.to_s.downcase

    - if current_user.voted_up_on?(votable_item)
      = button_tag type: "submit", class: "btn btn-mini btn-success" do
        %i.icon-circle-arrow-up

    - else
      = button_tag type: "submit", class: "btn btn-mini" do
        %i.icon-circle-arrow-up

- else
  %p{ style: "padding-bottom: 6px;" }
    %button.btn.btn-mini.disabled
      %i.icon-circle-arrow-up

%p.votable-item-count
  = votable_item.likes.size - votable_item.dislikes.size

- if current_user
  = form_tag(votes_downvote_path, class: "form-horizontal") do
    = hidden_field_tag :item_id, votable_item.id
    = hidden_field_tag :item_type, votable_item.class.to_s.downcase

    - if current_user.voted_down_on?(votable_item)
      = button_tag type: "submit", class: "btn btn-mini btn-danger" do
        %i.icon-circle-arrow-down.pull-left

    - else
      = button_tag type: "submit", class: "btn btn-mini" do
        %i.icon-circle-arrow-down.pull-left

- else
  %p{ style: "margin-top: 2px;" }
    %button.btn.btn-mini.disabled
      %i.icon-circle-arrow-down.pull-left

