- if user_signed_in?
  = form_tag(votes_upvote_path(item_id: votable_item.id, item_type: votable_item.item_type),
    class: "form-horizontal", remote: true) do

    - if current_user.voted_up_on?(votable_item)
      = button_tag type: "submit", class: "btn btn-mini btn-success up-arrow #{votable_item.item_type}",
        id: votable_item.id do
        %i.icon-chevron-up

    - else
      = button_tag type: "submit", class: "btn btn-mini up-arrow #{votable_item.item_type}",
        id: votable_item.id do
        %i.icon-chevron-up

- else
  %p{ style: "padding-bottom: 6px;" }
    %button.btn.btn-mini.disabled
      %i.icon-chevron-up

%p.votable-item-count{ id: votable_item.id, class: votable_item.item_type }
  = votable_item.likes.size - votable_item.dislikes.size

- if user_signed_in?
  = form_tag(votes_downvote_path(item_id: votable_item.id, item_type: votable_item.item_type),
    class: "form-horizontal", remote: true) do

    - if current_user.voted_down_on?(votable_item)
      = button_tag type: "submit", class: "btn btn-mini btn-danger down-arrow #{votable_item.item_type}",
        id: votable_item.id do
        %i.icon-chevron-down.pull-left

    - else
      = button_tag type: "submit", class: "btn btn-mini down-arrow #{votable_item.item_type}",
        id: votable_item.id do
        %i.icon-chevron-down.pull-left

- else
  %p{ style: "margin-top: 2px;" }
    %button.btn.btn-mini.disabled
      %i.icon-chevron-down.pull-left
