- if user_signed_in?
  = render 'shared/upvote_form', votable_item: votable_item

- else
  %p{ style: 'padding-bottom: 6px;' }
    %button.btn.btn-mini.disabled
      %i.icon-chevron-up

%p.votable-item-count{ id: "#{votable_item.item_type}-count-#{votable_item.id}" }
  = votable_item.likes.size - votable_item.dislikes.size

- if user_signed_in?
  = render 'shared/downvote_form', votable_item: votable_item

- else
  %p{ style: 'margin-top: 2px;' }
    %button.btn.btn-mini.disabled
      %i.icon-chevron-down.pull-left
