= nightly_intro

- @posts_from_yesterday.each do |post|
  = "* #{post.title}"
  = link_to post.title, url_for(spoke_post_url(post.spoke.id, post.id))
  - body = post.content ? post.content[0..450] : "<Post body was empty.>"
  = raw body

= raw(unsubscribe_message)
