%p#notice= notice

%p
  %b Hub Name:
  = @hub.name

%h2 Posts
- @hub.posts.each do |post|
  %p
    %b Title:
    = post.title
    = link_to post.title, controller: "posts", action: "show", id: post.id,
      hub_id: @hub.id

%h2 Add a post:
= form_for([@hub, @hub.posts.build]) do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :content
    %br
    = f.text_area :content
  .actions
    = f.submit

= link_to 'Edit', edit_hub_path(@hub)
|
= link_to 'Back', hubs_path
