%h2 Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control'

  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'

  - if devise_mapping.rememberable?
    .checkbox
      = f.label :remember_me
      = f.check_box :remember_me

  %div= f.button 'Sign in', class: 'btn btn-default'

%hr/
= render 'devise/shared/links'
