= form_for(@post, url: edit_spoke_post_path, html: { class: 'form-horizontal' }) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      %label.control-label= f.label :name
      .controls
        = f.text_field :name

    .control-group
      %label.control-label= f.label :title
      .controls
        = f.text_field :title

    .control-group
      %label.control-label= f.label :content
      .controls
        = f.text_area :content, class: 'span5'

  .form-actions
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Cancel', spoke_post_path(@post), class: 'btn btn-danger'

