- if user_signed_in?
  = form_tag(spoke_post_flag_path(inappropriate_post.spoke.id, inappropriate_post.id),
    class: 'form-horizontal',
    method: :put,
    remote: true) do
    = hidden_field_tag :id, inappropriate_post.id
    = hidden_field_tag :flag_type, :inappropriate

    - if current_user.flagged?(inappropriate_post, :inappropriate)
      = button_tag type: 'submit',
        class: 'btn btn-mini btn-danger',
        id: "inappropriate-post-#{inappropriate_post.id}",
        title: 'You have flagged this post as inappropriate.' do
        %i.icon-warning-sign.pull-left

    - elsif inappropriate_post.flagged?(:inappropriate)
      = button_tag type: 'submit',
        class: 'btn btn-mini btn-warning',
        id: "inappropriate-post-#{inappropriate_post.id}",
        title: 'Someone else has flagged this post as inappropriate.' do
        %i.icon-warning-sign.pull-left

    - else
      = button_tag type: 'submit',
        class: 'btn btn-mini',
        id: "inappropriate-post-#{inappropriate_post.id}" do
        %i.icon-warning-sign.pull-left

- else
  - if inappropriate_post.flagged?(:inappropriate)
    = button_tag class: 'btn btn-mini btn-warning disabled',
      title: 'Someone has flagged this post as inappropriate.' do
      %i.icon-warning-sign.pull-left

  - else
    %p
      %span.label
        %i.icon-warning-sign{ style: 'width: 23px;' }

