.row{ class: cycle('even', 'odd') }
  %div{ class: post.link? ? 'post-type-link' : 'post-type-text' }
    .row
      .col-md-offset-1.col-md-11
        .post-title
          - if post.link?
            = link_to post.title, post.body
          - else
            = link_to post.title, spoke_post_path(post.spoke, post)

    .row
      .col-md-offset-1.col-md-11
        %blockquote
          %p
            = truncate(auto_link(sanitize(post.body)), length: 140)

          %small
            - if post.user.first_name
              = "#{post.user.name},"
            - else
              = "#{post.user.email},"
            = time_tag(post.created_at)
            in

            = link_to post.spoke.name, post.spoke, class: 'label'

    .row
      .col-md-offset-10.col-md-2
        = link_to 'read &raquo;'.html_safe, spoke_post_path(post.spoke_id, post)
