%p#notice= notice

%p
  %b Name:
  = @post.name

%p
  %b Title:
  = @post.title

%p
  %b Content:
  = @post.content

= link_to 'Edit', edit_spoke_post_path(@post.spoke, @post)
|
= link_to 'Back', spoke_path(@post.spoke)
