%p#notice= notice

%ul.breadcrumb
  %li
    = link_to 'Home', home_index_path
    %span.divider> /
  %li.active
    = link_to @post.spoke.name, spoke_path(@post.spoke)

.row
  .span4
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %th Posted by
          %td= @post.name
        %tr
          %th Posted on
          %td= @post.created_at
  .span8
    %h1= @post.title
    %blockquote
      %p= sanitize(@post.content)
%hr
.row
  .span8
    %h2 Comment:
    = render 'comments/new', parent_type: :post, parent_id: @post.id
%hr
.row
  .span8
    %table.table.table-condensed.table-striped
      %caption
        %h2 Comments
      %tbody
        = render partial: 'comments/comment', collection: @post.root_comments


= link_to 'Edit', edit_spoke_post_path(@post.spoke, @post)
|
= link_to 'Back', spoke_path(@post.spoke)
