- if notice
  %p#notice= notice

%ul.breadcrumb
  %li
    = link_to 'Home', home_index_path
    %span.divider> /
  %li.active
    = link_to @post.spoke.name, spoke_path(@post.spoke)

.row
  .span8
    .pull-left
      %i.icon-arrow-up
      %br
      %i.icon-arrow-down.pull-left
      %br
      %i.icon-star-empty
    %div
      %h1= @post.title
      %p
        Posted on
        %code= @post.created_at
        by
        %code= @post.name
        = link_to 'Edit', edit_spoke_post_path(@post.spoke, @post),
          class: 'btn btn-mini btn-warning'
    .well
      %p= sanitize(@post.content)


%hr
.row
  .span8
    %h2 Comments
    = render 'comments/new', parent_type: :post, parent_id: @post.id
    %table.table.table-condensed.table-striped
      %tbody
        = render partial: 'comments/comment', collection: @post.root_comments


= link_to 'Back', spoke_path(@post.spoke)
