%p#notice= notice

%ul.breadcrumb
  %li
    = link_to 'Home', home_index_path
    %span.divider> /
  %li.active
    = link_to @post.spoke.name, spoke_path(@post.spoke)

.row
  .span4
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %th Posted by
          %td= @post.name
        %tr
          %th Posted on
          %td= @post.created_at
  .span8
    %h1= @post.title
    %blockquote
      %p= @post.content
%hr
.row
  .span8
    %h2 Comment:
    = form_for([@post.spoke, @post, @post.comments.build],
      html: { class: 'well form-horizontal' }) do |f|
      %fieldset
        .control-group
          = f.label :commenter, class: 'control-label'
          .controls
            = f.text_field :commenter
        .control-group
          = f.label :body, class: 'control-label'
          .controls
            = f.text_area :body, class: 'input-xlarge'
        .form-actions
          = f.submit 'Save', class: 'btn btn-primary'
%hr
.row
  .span8
    %table.table.table-condensed.table-striped
      %caption
        %h2 Comments
      %tbody
        - @post.comments.each do |comment|
          %tr
            %td
              %i.icon-arrow-up
              %br
              %i.icon-arrow-down.pull-left
              %br
              %i.icon-star-empty
            %td
              %p
                added
                = comment.created_at
                by
                %b= comment.commenter

              %p= comment.body


= link_to 'Edit', edit_spoke_post_path(@post.spoke, @post)
|
= link_to 'Back', spoke_path(@post.spoke)
