<div id="main">
    {{partial "application/navigation"}}
    {{!render welcome_msg}}

    {{partial "application/spokebar"}}

    <div class="container">
        <div class="row row-offcanvas">
            <div class="content col-md-12">
                (flash area)
            </div>
        </div>

        <div class="row row-offcanvas">
            <div class="content col-md-12">
                {{outlet 'posts'}}
                {{outlet}}
            </div>
        </div>
    </div>
</div>

{{partial "application/footer"}}
