<div id="main">
    {{render navigation}}
    {{!render welcome_msg}}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="content col-md-12">
                (flash area)
                {{outlet 'spokes'}}
                {{outlet}}
                {{outlet 'posts'}}
            </div>
        </div>
    </div>
</div>

{{partial "application/footer"}}
