<form {{action login content on="submit"}} class="form-horizontal" role="form">
    <legend>Login</legend>

    {{#if errorMsg}}
        <div class="alert alert-error">
            {{errorMsg}}
        </div>
    {{/if}}

    <br/>
    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
            {{view Em.TextField valueBinding="email" id="email" classNames="form-control"}}
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-6">
            {{view Ember.TextField valueBinding="password" type="password" id="password" classNames="form-control"}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <button type="submit" class="btn btn-primary" value="Login">
                Login
            </button>
            <button {{action cancel}} type="submit" class="btn btn-danger" value="Cancel" >
                Cancel
            </button>
        </div>
    </div>
</form>
