- if user.super_user?
  = check_box_tag 'is_banned', !user.banned?, user.banned?, disabled: true

- else
  = form_tag(admin_user_path(user), method: :put, remote: true) do
    = hidden_field_tag "#{user.id}-is-banned", nil
    %div
      = check_box_tag "#{user.id}-is-banned", !user.banned?, user.banned?, id: "ban-#{user.id}",
        class: 'checkable'
