.page-title
  %h1
    = @user.email

%table.table.table-striped.table-bordered
  %thead
  %tbody
    %tr
      %td
        %strong First Name
      %td
        = @user.first_name

    %tr
      %td
        %strong Last Name
      %td
        = @user.last_name

    %tr
      %td
        %strong Sign-in Count
      %td
        = @user.sign_in_count

    %tr
      %td
        %strong Last sign-in at
      %td
        - if @user.last_sign_in_at
          = time_tag @user.last_sign_in_at
        - else
          \-

    %tr
      %td
        %strong Last sign-in IP
      %td
        - if @user.last_sign_in_ip
          = @user.last_sign_in_ip
        - else
          \-

    %tr
      %td
        %strong Admin?
      %td
        = render partial: 'admin/users/admin_checkbox', locals: { user: @user }

    %tr
      %td
        %strong Banned?
      %td
        = render partial: 'admin/users/banned_checkbox', locals: { user: @user }

    %tr
      %td
        %strong Digest?
      %td
        - if @user.digest_email
          True
        - else
          False

%p
  = link_to :back do
    %button.btn
      %i.icon-backward
      Back

