.well
  %ul.nav.nav-list
    %li{ class: active_li? { current_page?(admin_users_path) } }
      = link_to admin_users_path do
        %i.icon-user
        Users

    %li{ class: active_li? { current_page?(admin_inappropriate_items_path) } }
      = link_to admin_inappropriate_items_path do
        %i.icon-warning-sign
        Inappropriate Items

      - if current_page? admin_inappropriate_items_path
        %ul
          %li
            = link_to('All', admin_inappropriate_items_path)
          %li
            = link_to('Posts', admin_inappropriate_items_path(flaggable_type: 'posts'))
          %li
            = link_to('Comments', admin_inappropriate_items_path(flaggable_type: 'comments'))

    %li{ class: active_li? { current_page?(admin_settings_path) } }
      = link_to admin_settings_path do
        %i.icon-envelope
        Settings

