.container
  .content
    .row
      .span12#flash-area
        = render 'layouts/messages'

        = render partial: 'layouts/inappropriate_modal'

    = content_for?(:page_title) ? yield(:page_title) : nil

    .row
      - if content_for?(:right_sidebar)
        .span9
          = yield
        .span3
          = yield(:right_sidebar)

      - else
        .span12
          = yield

