!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "MindHub"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container{ style: "height: 40px;" }
          = render 'layouts/navigation'

    .container
      .content
        .row
          .span12
            = render 'layouts/messages'
        = yield

      %footer.description-bottom
        .row
          .offset1.span3
            %ul.unstyled
              %li
                A project of
                = link_to 'Creative Fresno', "http://creativefresno.ning.com/"
              %li
                = link_to 'Terms of Service', home_tos_path

